# SSE50 Data Loader

## Import Packages

In [1]:
import akshare as ak
import numpy as np
import pandas as pd

## Select Trade Days

In [2]:
date = ak.tool_trade_date_hist_sina()
date = date.loc[date['trade_date'] >= '2015-04-16']

In [3]:
date

      trade_date
5947  2015-04-16
5948  2015-04-17
5949  2015-04-20
5950  2015-04-21
5951  2015-04-22
...          ...
7580  2021-12-27
7581  2021-12-28
7582  2021-12-29
7583  2021-12-30
7584  2021-12-31

[1638 rows x 1 columns]

## Import CSV as DataFrame

In [4]:
fname = "./SSE50_RAWDATA.csv"
df = pd.read_csv(fname)
df.set_index('Date', inplace=True)

In [5]:
df.head(20)

,Open,High,Low,Close,ValChange,PctChange,Volume,Amount
Date,,,,,,,,
1/4/10,2565.108,2570.152,2514.237,2514.646,-39.154,-1.5332,2732744300,3.646852e+10
1/5/10,2526.291,2560.667,2487.048,2543.991,29.345,1.1670,3537743800,5.077912e+10
1/6/10,2538.285,2549.571,2513.365,2514.014,-29.977,-1.1783,2964615100,4.344433e+10
1/7/10,2516.057,2527.427,2450.402,2463.758,-50.256,-1.9990,3204318500,4.461141e+10
1/8/10,2453.061,2470.024,2432.013,2466.165,2.407,0.0977,2268341000,3.233506e+10
1/11/10,2584.528,2584.528,2467.670,2478.810,12.645,0.5127,4084119400,5.981628e+10
1/12/10,2472.623,2513.298,2435.156,2508.039,29.229,1.1792,3804814600,5.158734e+10
1/13/10,2444.237,2457.900,2396.474,2399.642,-108.397,-4.3220,4955885400,6.480386e+10
1/14/10,2412.634,2428.705,2384.165,2422.771,23.129,0.9639,3056221400,3.970857e+10
1/15/10,2423.130,2445.203,2402.904,2427.807,5.036,0.2079,2599492800,3.469133e+10
1/18/10,2414.893,2421.890,2398.778,2421.188,-6.619,-0.2726,3093634400,4.186666e+10
1/19/10,2424.469,2450.281,2424.161,2432.713,11.525,0.4760,2782907600,3.754464e+10
1/20/10,2436.647,2439.468,2356.161,2359.485,-73.228,-3.0101,3474848500,4.572057e+10
1/21/10,2362.597,2391.508,2346.148,2377.753,18.268,0.7742,2919614700,3.780439e+10
1/22/10,2344.973,2398.989,2317.481,2380.055,2.302,0.0968,4063927200,4.904208e+10
1/25/10,2355.357,2389.627,2350.009,2353.471,-26.584,-1.1169,2074988000,2.643013e+10
1/26/10,2354.905,2363.411,2296.875,2311.447,-42.024,-1.7856,2470038300,3.034774e+10
1/27/10,2313.007,2319.993,2260.564,2264.605,-46.842,-2.0265,2228021200,2.728837e+10
1/28/10,2263.061,2267.853,2235.603,2252.610,-11.995,-0.5297,1902345600,2.375429e+10
1/29/10,2241.117,2276.767,2231.649,2243.994,-8.616,-0.3825,1862603600,2.386174e+10

In [6]:
df.tail(20)

,Open,High,Low,Close,ValChange,PctChange,Volume,Amount
Date,,,,,,,,
4/30/21,3518.8644,3522.6131,3471.3799,3491.1877,-26.0227,-0.7399,3402655400,8.647376e+10
5/6/21,3475.0511,3510.3971,3443.3096,3449.9385,-41.2492,-1.1815,2993342900,9.004747e+10
5/7/21,3457.9077,3470.5151,3402.0751,3406.3103,-43.6282,-1.2646,3009252800,8.212226e+10
5/10/21,3410.0086,3416.0270,3371.1340,3399.9849,-6.3254,-0.1857,2804888900,6.875042e+10
5/11/21,3380.6283,3443.3591,3371.4735,3437.7135,37.7286,1.1097,2493574100,7.127151e+10
5/12/21,3423.4199,3456.0687,3421.6571,3447.8617,10.1482,0.2952,2368968000,5.956658e+10
5/13/21,3418.5814,3435.4474,3395.8073,3413.8886,-33.9731,-0.9853,2188266800,6.067001e+10
5/14/21,3426.4251,3504.6480,3406.7136,3503.0370,89.1484,2.6113,3452724800,9.532370e+10
5/17/21,3502.7402,3556.4926,3502.2083,3539.9125,36.8755,1.0527,3016509100,9.243118e+10
5/18/21,3543.1099,3550.0761,3520.6660,3537.6963,-2.2162,-0.0626,2378258700,5.721306e+10
5/19/21,3531.7877,3531.7877,3501.3833,3511.4674,-26.2289,-0.7414,2380663300,6.055228e+10
5/20/21,3514.4281,3530.4907,3496.5202,3522.4512,10.9838,0.3128,2382719600,6.320845e+10
5/21/21,3532.8724,3544.2659,3475.2632,3481.8619,-40.5893,-1.1523,2064464400,6.117673e+10
5/24/21,3482.9926,3499.4454,3457.2916,3497.7469,15.8850,0.4562,2298654300,6.453227e+10
5/25/21,3505.8143,3645.0748,3505.6263,3641.2918,143.5449,4.1039,4418286500,1.257360e+11
5/26/21,3656.3403,3678.0671,3643.9848,3657.1898,15.8980,0.4366,3455939600,9.658566e+10
5/27/21,3645.4823,3709.0023,3628.9596,3664.9417,7.7519,0.2120,2987912000,8.514700e+10
5/28/21,3663.8753,3689.2479,3630.5739,3659.2957,-5.6460,-0.1541,2868284600,8.046883e+10
5/31/21,3652.8877,3652.8924,3615.4225,3650.2245,-9.0712,-0.2479,2632840100,7.791793e+10
6/1/21,3641.9690,3652.9485,3608.2042,3650.9034,0.6789,0.0186,2816154700,8.285057e+10

## Helper Functions

### Formulas

[Simple, Exponential, and Weighted Moving Averages](https://www.thebalance.com/simple-exponential-and-weighted-moving-averages-1031196)

[Relative Strength Index (RSI)](https://www.investopedia.com/terms/r/rsi.asp)

[RSI指标的计算公式是什么？](https://www.zhihu.com/question/51959474)

[Trading With VWAP and MVWAP](https://www.investopedia.com/articles/trading/11/trading-with-vwap-mvwap.asp)

### MA (Moving Average)

In [7]:
def generate_MA(prices, window_size=10):
    assert window_size < prices.size
    
    dates, mas = [], []
    
    for i in range(window_size, prices.size):
        dates.append(prices.index[i])
        mas.append(np.mean(prices[i-window_size:i]))
    
    return pd.Series(mas, index=dates)

### SMA (Simple Moving Average)

In [8]:
def generate_SMA(prices, window_size=10, weight=1):
    assert window_size < prices.size
    assert weight > 0 and weight <= window_size
    
    dates, smas = [], []
    
    for i in range(window_size, prices.size):
        timeframe = prices[i-window_size:i]
        
        y = timeframe[0]
        
        for j in range(1, window_size):
            y = (weight * timeframe[j] + (window_size - weight) * y) / window_size
        
        dates.append(prices.index[i])
        smas.append(y)
        
    return pd.Series(smas, index=dates)

### EMA (Exponential Moving Average)

In [9]:
def generate_EMA(prices, window_size=10, smoothing=2):
    assert window_size < prices.size
    
    dates, emas = [], []
    multiplier = smoothing / (1 + window_size)
    
    for i in range(window_size, prices.size):
        ema = None
        
        if i == window_size:
            ema = np.mean(prices[i-window_size:i])
        else:
            ema = prices[i] * multiplier + emas[-1] * (1 - multiplier)
        
        dates.append(prices.index[i])
        emas.append(ema)
        
    return pd.Series(emas, index=dates)

### WMA (Weighted Moving Average)

In [10]:
def generate_WMA(prices, window_size=10):
    assert window_size < prices.size
    
    dates, wmas = [], []
    weights = np.arange(window_size) + 1
    denom = np.sum(weights)
    
    for i in range(window_size, prices.size):
        dates.append(prices.index[i])
        wmas.append(np.sum(weights * prices[i-window_size:i]) / denom)
        
    return pd.Series(wmas, index=dates)

### RSI (Relative Strength Index)

In [11]:
def generate_RSI(prices, window_size=10):
    assert window_size + 1 < prices.size  # 1 day offset to account for price change
    
    dates, rsis = [], []
    weight = 1
    
    for i in range(window_size + 1, prices.size):
        price_diffs = np.array(prices[i-window_size:i]) - np.array(prices[i-window_size-1:i-1])
        price_diffs_max0 = np.where(price_diffs < 0, 0, price_diffs)
        price_diffs_abs = np.abs(price_diffs)
        
        x = price_diffs_max0[0]
        y = price_diffs_abs[0]
        
        for j in range(1, price_diffs.size):
            x = (weight * price_diffs_max0[j] + (window_size - weight) * x) / window_size
            y = (weight * price_diffs_abs[j] + (window_size - weight) * y) / window_size
            
        rsi = x / y * 100
        
        dates.append(prices.index[i])
        rsis.append(rsi)
        
    return pd.Series(rsis, index=dates)

### VWAP (Volume-Weighted Average Price)

In [12]:
def generate_VWAP(high_prices, low_prices, close_prices, volumes):
    assert high_prices.size == low_prices.size
    assert low_prices.size == close_prices.size
    assert close_prices.size == volumes.size
    
    vol_cum = np.cumsum(volumes)
    prices = (high_prices + low_prices + close_prices) / 3
    tpvs = prices * volumes
    tpv_cum = np.cumsum(tpvs)
    vwaps = tpv_cum / vol_cum
    
    return pd.Series(vwaps, index=volumes.index)

### Examples

In [13]:
high_prices = pd.Series(df.loc[:,'High'].values, index=df.index)
low_prices = pd.Series(df.loc[:,'Low'].values, index=df.index)
close_prices = pd.Series(df.loc[:,'Close'].values, index=df.index)
volumes = pd.Series(df.loc[:,'Volume'].values, index=df.index)

In [14]:
generate_MA(close_prices)

1/18/10    2473.96430
1/19/10    2464.61850
1/20/10    2453.49070
1/21/10    2438.03780
1/22/10    2429.43730
              ...
5/26/21    3509.72153
5/27/21    3530.65434
5/28/21    3555.75965
5/31/21    3571.38552
6/1/21     3582.41672
Length: 2762, dtype: float64

In [15]:
generate_SMA(close_prices)

1/18/10    2481.211002
1/19/10    2485.440671
1/20/10    2469.715570
1/21/10    2441.169329
1/22/10    2435.666965
              ...
5/26/21    3495.432326
5/27/21    3499.762386
5/28/21    3547.364442
5/31/21    3571.415260
6/1/21     3578.523443
Length: 2762, dtype: float64

In [16]:
generate_EMA(close_prices)

1/18/10    2473.964300
1/19/10    2466.464064
1/20/10    2447.013325
1/21/10    2434.420538
1/22/10    2424.535895
              ...
5/26/21    3545.234937
5/27/21    3566.999803
5/28/21    3583.780875
5/31/21    3595.861534
6/1/21     3605.869146
Length: 2762, dtype: float64

In [17]:
generate_WMA(close_prices)

1/18/10    2455.269182
1/19/10    2445.673491
1/20/10    2439.872491
1/21/10    2422.780545
1/22/10    2411.819673
              ...
5/26/21    3529.206900
5/27/21    3556.019313
5/28/21    3580.435196
5/31/21    3599.259933
6/1/21     3613.594293
Length: 2762, dtype: float64

In [18]:
generate_RSI(close_prices)

1/19/10    57.356961
1/20/10    21.140561
1/21/10    13.320917
1/22/10    36.356681
1/25/10    47.375317
             ...
5/26/21    80.199454
5/27/21    55.425479
5/28/21    92.556546
5/31/21    86.804920
6/1/21     69.497758
Length: 2761, dtype: float64

In [19]:
generate_VWAP(high_prices, low_prices, close_prices, volumes)

Date
1/4/10     2533.011667
1/5/10     2531.633352
1/6/10     2529.712601
1/7/10     2517.043208
1/8/10     2507.639053
              ...
5/26/21    2489.672103
5/27/21    2490.025884
5/28/21    2490.363015
5/31/21    2490.666961
6/1/21     2490.991280
Length: 2772, dtype: float64

## Add New Features

In [20]:
WINDOW_SIZE = 10

mas = generate_MA(pd.Series(df.loc[:,'Close'].values, index=df.index), window_size=WINDOW_SIZE)
smas = generate_SMA(pd.Series(df.loc[:,'Close'].values, index=df.index), weight=3, window_size=WINDOW_SIZE)
emas = generate_EMA(pd.Series(df.loc[:,'Close'].values, index=df.index), window_size=WINDOW_SIZE)
wmas = generate_WMA(pd.Series(df.loc[:,'Close'].values, index=df.index), window_size=WINDOW_SIZE)
rsis = generate_RSI(pd.Series(df.loc[:,'Close'].values, index=df.index), window_size=WINDOW_SIZE)
vwaps = generate_VWAP(
    pd.Series(df.loc[:,'High'].values, index=df.index),
    pd.Series(df.loc[:,'Low'].values, index=df.index),
    pd.Series(df.loc[:,'Close'].values, index=df.index),
    pd.Series(df.loc[:,'Volume'].values, index=df.index)
)

In [21]:
df[f'MA{WINDOW_SIZE}'] = mas
df[f'SMA{WINDOW_SIZE}'] = smas
df[f'EMA{WINDOW_SIZE}'] = emas
df[f'WMA{WINDOW_SIZE}'] = wmas
df[f'RSI{WINDOW_SIZE}'] = rsis
df[f'VWAP'] = vwaps

In [22]:
df.head(20)

,Open,High,Low,Close,ValChange,PctChange,Volume,Amount,MA10,SMA10,EMA10,WMA10,RSI10,VWAP
Date,,,,,,,,,,,,,,
1/4/10,2565.108,2570.152,2514.237,2514.646,-39.154,-1.5332,2732744300,3.646852e+10,NaN,NaN,NaN,NaN,NaN,2533.011667
1/5/10,2526.291,2560.667,2487.048,2543.991,29.345,1.1670,3537743800,5.077912e+10,NaN,NaN,NaN,NaN,NaN,2531.633352
1/6/10,2538.285,2549.571,2513.365,2514.014,-29.977,-1.1783,2964615100,4.344433e+10,NaN,NaN,NaN,NaN,NaN,2529.712601
1/7/10,2516.057,2527.427,2450.402,2463.758,-50.256,-1.9990,3204318500,4.461141e+10,NaN,NaN,NaN,NaN,NaN,2517.043208
1/8/10,2453.061,2470.024,2432.013,2466.165,2.407,0.0977,2268341000,3.233506e+10,NaN,NaN,NaN,NaN,NaN,2507.639053
1/11/10,2584.528,2584.528,2467.670,2478.810,12.645,0.5127,4084119400,5.981628e+10,NaN,NaN,NaN,NaN,NaN,2508.225192
1/12/10,2472.623,2513.298,2435.156,2508.039,29.229,1.1792,3804814600,5.158734e+10,NaN,NaN,NaN,NaN,NaN,2504.398348
1/13/10,2444.237,2457.900,2396.474,2399.642,-108.397,-4.3220,4955885400,6.480386e+10,NaN,NaN,NaN,NaN,NaN,2488.858829
1/14/10,2412.634,2428.705,2384.165,2422.771,23.129,0.9639,3056221400,3.970857e+10,NaN,NaN,NaN,NaN,NaN,2481.172696
1/15/10,2423.130,2445.203,2402.904,2427.807,5.036,0.2079,2599492800,3.469133e+10,NaN,NaN,NaN,NaN,NaN,2476.799436
1/18/10,2414.893,2421.890,2398.778,2421.188,-6.619,-0.2726,3093634400,4.186666e+10,2473.9643,2445.385187,2473.964300,2455.269182,NaN,2471.443605
1/19/10,2424.469,2450.281,2424.161,2432.713,11.525,0.4760,2782907600,3.754464e+10,2464.6185,2438.954955,2466.464064,2445.673491,57.356961,2468.899904
1/20/10,2436.647,2439.468,2356.161,2359.485,-73.228,-3.0101,3474848500,4.572057e+10,2453.4907,2436.235592,2447.013325,2439.872491,21.140561,2462.052875
1/21/10,2362.597,2391.508,2346.148,2377.753,18.268,0.7742,2919614700,3.780439e+10,2438.0378,2411.790807,2434.420538,2422.780545,13.320917,2456.259144
1/22/10,2344.973,2398.989,2317.481,2380.055,2.302,0.0968,4063927200,4.904208e+10,2429.4373,2401.647457,2424.535895,2411.819673,36.356681,2448.815045
1/25/10,2355.357,2389.627,2350.009,2353.471,-26.584,-1.1169,2074988000,2.643013e+10,2420.8263,2395.526910,2411.615005,2402.841073,47.375317,2445.420419
1/26/10,2354.905,2363.411,2296.875,2311.447,-42.024,-1.7856,2470038300,3.034774e+10,2408.2924,2383.735784,2393.402641,2390.594655,53.701321,2439.871471
1/27/10,2313.007,2319.993,2260.564,2264.605,-46.842,-2.0265,2228021200,2.728837e+10,2388.6332,2358.987202,2369.984888,2372.986400,6.007584,2433.614606
1/28/10,2263.061,2267.853,2235.603,2252.610,-11.995,-0.5297,1902345600,2.375429e+10,2375.1295,2331.325878,2348.643999,2350.435818,42.232168,2427.680905
1/29/10,2241.117,2276.767,2231.649,2243.994,-8.616,-0.3825,1862603600,2.386174e+10,2358.1134,2307.853369,2329.616726,2328.159545,19.993949,2422.197448

In [23]:
df[df.isna().any(axis=1)]

,Open,High,Low,Close,ValChange,PctChange,Volume,Amount,MA10,SMA10,EMA10,WMA10,RSI10,VWAP
Date,,,,,,,,,,,,,,
1/4/10,2565.108,2570.152,2514.237,2514.646,-39.154,-1.5332,2732744300,3.646852e+10,NaN,NaN,NaN,NaN,NaN,2533.011667
1/5/10,2526.291,2560.667,2487.048,2543.991,29.345,1.1670,3537743800,5.077912e+10,NaN,NaN,NaN,NaN,NaN,2531.633352
1/6/10,2538.285,2549.571,2513.365,2514.014,-29.977,-1.1783,2964615100,4.344433e+10,NaN,NaN,NaN,NaN,NaN,2529.712601
1/7/10,2516.057,2527.427,2450.402,2463.758,-50.256,-1.9990,3204318500,4.461141e+10,NaN,NaN,NaN,NaN,NaN,2517.043208
1/8/10,2453.061,2470.024,2432.013,2466.165,2.407,0.0977,2268341000,3.233506e+10,NaN,NaN,NaN,NaN,NaN,2507.639053
1/11/10,2584.528,2584.528,2467.670,2478.810,12.645,0.5127,4084119400,5.981628e+10,NaN,NaN,NaN,NaN,NaN,2508.225192
1/12/10,2472.623,2513.298,2435.156,2508.039,29.229,1.1792,3804814600,5.158734e+10,NaN,NaN,NaN,NaN,NaN,2504.398348
1/13/10,2444.237,2457.900,2396.474,2399.642,-108.397,-4.3220,4955885400,6.480386e+10,NaN,NaN,NaN,NaN,NaN,2488.858829
1/14/10,2412.634,2428.705,2384.165,2422.771,23.129,0.9639,3056221400,3.970857e+10,NaN,NaN,NaN,NaN,NaN,2481.172696
1/15/10,2423.130,2445.203,2402.904,2427.807,5.036,0.2079,2599492800,3.469133e+10,NaN,NaN,NaN,NaN,NaN,2476.799436
1/18/10,2414.893,2421.890,2398.778,2421.188,-6.619,-0.2726,3093634400,4.186666e+10,2473.9643,2445.385187,2473.9643,2455.269182,NaN,2471.443605

In [24]:
df_export = df.dropna(how='any')[[
    'Open', 'High', 'Low', 'Close', 'Volume', 'Amount',
    f'MA{WINDOW_SIZE}', f'SMA{WINDOW_SIZE}', f'EMA{WINDOW_SIZE}',
    f'WMA{WINDOW_SIZE}', f'RSI{WINDOW_SIZE}', f'VWAP'
]]
df_export

,Open,High,Low,Close,Volume,Amount,MA10,SMA10,EMA10,WMA10,RSI10,VWAP
Date,,,,,,,,,,,,
1/19/10,2424.4690,2450.2810,2424.1610,2432.7130,2782907600,3.754464e+10,2464.61850,2438.954955,2466.464064,2445.673491,57.356961,2468.899904
1/20/10,2436.6470,2439.4680,2356.1610,2359.4850,3474848500,4.572057e+10,2453.49070,2436.235592,2447.013325,2439.872491,21.140561,2462.052875
1/21/10,2362.5970,2391.5080,2346.1480,2377.7530,2919614700,3.780439e+10,2438.03780,2411.790807,2434.420538,2422.780545,13.320917,2456.259144
1/22/10,2344.9730,2398.9890,2317.4810,2380.0550,4063927200,4.904208e+10,2429.43730,2401.647457,2424.535895,2411.819673,36.356681,2448.815045
1/25/10,2355.3570,2389.6270,2350.0090,2353.4710,2074988000,2.643013e+10,2420.82630,2395.526910,2411.615005,2402.841073,47.375317,2445.420419
...,...,...,...,...,...,...,...,...,...,...,...,...
5/26/21,3656.3403,3678.0671,3643.9848,3657.1898,3455939600,9.658566e+10,3509.72153,3542.175518,3545.234937,3529.206900,80.199454,2489.672103
5/27/21,3645.4823,3709.0023,3628.9596,3664.9417,2987912000,8.514700e+10,3530.65434,3575.720146,3566.999803,3556.019313,55.425479,2490.025884
5/28/21,3663.8753,3689.2479,3630.5739,3659.2957,2868284600,8.046883e+10,3555.75965,3605.004834,3583.780875,3580.435196,92.556546,2490.363015
5/31/21,3652.8877,3652.8924,3615.4225,3650.2245,2632840100,7.791793e+10,3571.38552,3622.333736,3595.861534,3599.259933,86.804920,2490.666961
6/1/21,3641.9690,3652.9485,3608.2042,3650.9034,2816154700,8.285057e+10,3582.41672,3630.638363,3605.869146,3613.594293,69.497758,2490.991280

In [25]:
outfname = "./SSE50_data.csv"
df_export.to_csv(outfname)